<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Mesin Pencari Informasi</title>
</head>
<body>
    <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-800">
        <div class="mb-16">
            <h1 class="text-3xl text-black dark:text-white">Sistem Pencarian Informasi Publik</h1>
        </div>
        <div class="w-full max-w-2xl mb-12 flex flex-col gap-3">
            <form action="/search" method="POST" class="flex items-center gap-3" id="search-form">
                <div class="flex items-center border-2 border-gray-200 rounded-full shadow px-4 py-2 bg-white hover:shadow-lg transition w-full">
                    <svg class="w-5 h-5 text-gray-400 mr-3" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M9 1a8 8 0 1 1 0 16a8 8 0 1 1 0-16 M0 0M14.6 14.6L23 23" />
                    </svg>
                    <input type="text" name="keyword" class="flex-grow outline-none bg-transparent text-lg" placeholder="Cari kata kunci...">
                </div>
                <div class="flex items-center border-2 border-gray-200 rounded-full shadow px-4 py-2 bg-white hover:shadow-lg transition">
                    <select name="database" class="flex-grow outline-none bg-transparent text-lg h-[28px] w-[125px]">
                        <option value="" disabled selected>Situs</option>
                        <!-- BELUM SELESAI -->
                        {% for db in databases %}
                        <option value="{{ db }}">{{ db }}</option>
                        {% endfor %}
                        <!-- IYAH BLUM -->
                    </select>
                </div>
                <button type="submit" class="flex items-center border-2 border-gray-200 rounded-full shadow px-3 py-2 bg-white cursor-pointer hover:bg-transparent transition">
                    <svg class="w-5 h-[28px] text-gray-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M22 2L11 13 M22 2L15 22L11 13L2 9L22 2Z" />
                    </svg>
                </button>
            </form>
            <form action="/crawl" method="POST" class="flex items-center gap-3" id="crawl-form">
                <div class="flex items-center border-2 border-gray-200 rounded-full shadow px-4 py-2 bg-white hover:shadow-lg transition w-full">
                    <svg class="w-5 h-5 text-gray-400 mr-3" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M12 1a11 11 0 1 1 0 22a11 11 0 1 1 0-22 M3 6h18 M1 12h22 M3 18h18 M16 12a4 11 0 1 1 -8 0a4 11 0 1 1 8 0" />
                    </svg>
                    <input type="text" name="url" class="flex-grow outline-none bg-transparent text-lg" placeholder="Domain (misal: https://upi.edu)">
                </div>
                <div class="flex items-center border-2 border-gray-200 rounded-full shadow px-4 py-2 bg-white hover:shadow-lg transition">
                    <select name="algorithm" class="flex-grow outline-none bg-transparent text-lg h-[28px] w-[125px]">
                        <option value="" disabled selected>Algoritma</option>
                        <option value="bfs">BFS</option>
                        <option value="dfs">DFS</option>
                    </select>
                </div>
                <button type="submit" class="flex items-center border-2 border-gray-200 rounded-full shadow px-3 py-2 bg-white cursor-pointer hover:bg-transparent transition">
                    <svg class="w-5 h-[28px] text-gray-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M22 2L11 13 M22 2L15 22L11 13L2 9L22 2Z" />
                    </svg>
                </button>
            </form>
            <div class="text-red-500 text-sm ml-2 h-[20px]">
            {% with message = get_flashed_messages(with_categories=true) %}
                {% for category, message in message %}
                    {{ message }}
                {% endfor %}
            {% endwith %}
            </div>
        </div>
        <div class="flex w-full max-w-2xl text-gray-500 dark:text-gray-400 h-[50vh] overflow-hidden">
            <div class="flex flex-col justify-end max-h-fit" id="logs"></div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#logs').parent().hide();

            $('#search-form button').hide();
            $('#search-form input').on('input', function() {
                if ($(this).val().length > 0) $('#search-form button').slideDown();
                else $('#search-form button').slideUp();
            });

            $('#crawl-form button').hide();
            $('#crawl-form input').on('input', function() {
                if ($(this).val().length > 0 && $('#crawl-form select').val()) $('#crawl-form button').slideDown();
                else $('#crawl-form button').slideUp();
            });
            $('#crawl-form select').change(function() {
                if ($(this).val() && $('#crawl-form input').val().length > 0) $('#crawl-form button').slideDown();
                else $('#crawl-form button').slideUp();
            });

            $('#crawl-form').on('submit', function() {
                $('#logs').parent().slideDown();
                $('#search-form').slideUp();
                $('#logs').html('')

                const eventSource = new EventSource("/logs/stream/" + $('#crawl-form select').val());
                eventSource.onmessage = function (event) {
                    $('#logs').append('<div class="text-sm">' + event.data + '</div>');
                };

                eventSource.onerror = function () {
                    $('#logs').append('<div class="text-red-500 text-sm">Streaming log gagal atau telah selesai.</div>');
                    eventSource.close();
                };
            });
        });
    </script>
</body>
</html>
